USE [QuanLyLaiXe]
GO
------------------------
--- T1: DANG NHAP ------
--- T2: DOI MAT KHAU ---
------------------------

--- T1----
--DROP PROCEDURE GT_DANGNHAP
CREATE PROC GT_DANGNHAP
	@TENDANGNHAP VARCHAR(512),
	@MATKHAU VARCHAR(512)
AS
BEGIN TRAN
	BEGIN TRY
		IF NOT EXISTS (SELECT * FROM TAIXE WHERE TenDangNhap=@TENDANGNHAP AND MatKhau=@MATKHAU)
		BEGIN 
			PRINT N'TEN TAI KHOAN HOAC MAT KHAU KHONG DUNG'
			ROLLBACK TRAN
			RETURN
		END
		
		--ĐỂ TEST		WAITFOR DELAY '0:0:10'
		
		SELECT * FROM TAIXE WHERE TenDangNhap=@TENDANGNHAP AND MatKhau=@MATKHAU
		PRINT N'DANG NHAP THANH CONG'
		
	END TRY	BEGIN CATCH		PRINT N'LỖI HỆ THỐNG'		ROLLBACK TRAN	END CATCH
COMMIT TRAN
GO
--- T2 -----
--DROP PROCEDURE GT_DOIMATKHAU
CREATE PROC GT_DOIMATKHAU
	@MaTaiXe INT,
	@MatKhau varchar(512)
AS
BEGIN TRAN
	BEGIN TRY
		IF NOT EXISTS (SELECT * FROM TAIXE WHERE MaTaiXe=@MaTaiXe)		BEGIN			PRINT  @MaTaiXe + N' KHÔNG TỒN TẠI'			ROLLBACK TRAN			RETURN 0		END
		PRINT N'DA CHAY T2'
		UPDATE TaiXe		SET MatKhau=@MatKhau		WHERE MaTaiXe=@MaTaiXe
		
	END TRY
	BEGIN CATCH
		PRINT N'LỖI HỆ THỐNG'		ROLLBACK TRAN
	END CATCH
COMMIT TRAN
RETURN 1
