USE [QuanLyLaiXe]
GO

-----------------------
----- CACH FIX LOI ----
-----------------------

--- T1----
--DROP PROCEDURE GT_FIX_DANGNHAP
CREATE PROC GT_FIX_DANGNHAP
	@TENDANGNHAP VARCHAR(512),
	@MATKHAU VARCHAR(512)
AS
BEGIN TRAN
	SET TRAN ISOLATION LEVEL REPEATABLE READ
	BEGIN TRY
		IF NOT EXISTS (SELECT * FROM TAIXE WHERE TenDangNhap=@TENDANGNHAP AND MatKhau=@MATKHAU)
		BEGIN 
			PRINT N'TEN TAI KHOAN HOAC MAT KHAU KHONG DUNG'
			ROLLBACK TRAN
			RETURN
		END
		
		--ĐỂ TEST		WAITFOR DELAY '0:0:10'
		
		SELECT * FROM TAIXE WHERE TenDangNhap=@TENDANGNHAP AND MatKhau=@MATKHAU
		PRINT N'DANG NHAP THANH CONG'
		
	END TRY	BEGIN CATCH		PRINT N'LỖI HỆ THỐNG'		ROLLBACK TRAN	END CATCH
COMMIT TRAN