USE [QuanLyLaiXe]
GO
------------------
--- T2 -----
--DROP PROCEDURE GT_FIX_XEMTHONGTIN_TO
CREATE PROC GT_FIX_XEMTHONGTIN_TO
	@MaTo INT
AS
BEGIN TRAN
	SET TRAN ISOLATION LEVEL READ UNCOMMITTED
	BEGIN TRY
		IF NOT EXISTS (SELECT * FROM TOLAI WHERE MaTo=@MaTo)
		BEGIN 
			PRINT N'MA TO KHONG DUNG'
			ROLLBACK TRAN
			RETURN
		END
		
		PRINT N'DA CHAY T2'
		
		SELECT * FROM TOLAI WHERE MaTo=@MaTo
		
	END TRY
	BEGIN CATCH
		PRINT N'LỖI HỆ THỐNG'		ROLLBACK TRAN
	END CATCH
COMMIT TRAN
RETURN 1
