USE [QuanLyLaiXe]
GO
------------------------
--- T1: CAP NHAT THONG TIN TO ------
--- T2: XEM THONG TIN TO ---
------------------------

--- T1----
--DROP PROCEDURE GT_CAPNHAT_TO
CREATE PROC GT_CAPNHAT_TO
	@MaTo INT,
	@TenTo NVARCHAR(512)
AS
BEGIN TRAN
	BEGIN TRY
		IF NOT EXISTS (SELECT * FROM TOLAI WHERE MaTo=@MaTo)
		BEGIN 
			PRINT N'MA TO KHONG DUNG'
			ROLLBACK TRAN
			RETURN
		END
		
		UPDATE TOLAI 
		SET TenTo=@TenTo
		WHERE MaTo=@MaTo
		
		--ĐỂ TEST		WAITFOR DELAY '0:0:10'
		
		ROLLBACK TRAN 		RETURN 1
		
	END TRY	BEGIN CATCH		PRINT N'LỖI HỆ THỐNG'		ROLLBACK TRAN	END CATCH
COMMIT TRAN
RETURN 0
GO

--- T2 -----
--DROP PROCEDURE GT_XEMTHONGTIN_TO
CREATE PROC GT_XEMTHONGTIN_TO
	@MaTo INT
AS
BEGIN TRAN
	BEGIN TRY
		IF NOT EXISTS (SELECT * FROM TOLAI WHERE MaTo=@MaTo)
		BEGIN 
			PRINT N'MA TO KHONG DUNG'
			ROLLBACK TRAN
			RETURN
		END
		
		PRINT N'DA CHAY T2'
		
		SELECT * FROM TOLAI WHERE MaTo=@MaTo
		
	END TRY
	BEGIN CATCH
		PRINT N'LỖI HỆ THỐNG'		ROLLBACK TRAN
	END CATCH
COMMIT TRAN
RETURN 1
