USE [QuanLyLaiXe]
GO
------------------------
--- T1: CAP NHAT THONG TIN TUYEN DUONG ------
--- T2: CAP NHAT THONG TIN TUYEN DUONG ---
------------------------

--- T1----
--DROP PROCEDURE GT_CAPNHATTHONGTINTUYENDUONG
CREATE PROC GT_CAPNHATTHONGTINTUYENDUONG
	@MaTuyenDuong nvarchar(512),
	@TeTuyenDuong nvarchar(512),
	@ChieuDai int
AS
BEGIN TRAN
	BEGIN TRY
		IF NOT EXISTS (SELECT * FROM TUYENDUONG WHERE MaTuyenDuong=@MaTuyenDuong)
		BEGIN 
			PRINT N'MA TUYEN DUONG KHONG DUNG'
			ROLLBACK TRAN
			RETURN
		END
		
		SELECT * FROM TUYENDUONG
		
		--ĐỂ TEST		WAITFOR DELAY '0:0:5'
		
		UPDATE TUYENDUONG 
		SET TeTuyenDuong=@TeTuyenDuong, ChieuDai = @ChieuDai
		WHERE MaTuyenDuong=@MaTuyenDuong
				
	END TRY	BEGIN CATCH		PRINT N'LỖI HỆ THỐNG'		ROLLBACK TRAN	END CATCH
COMMIT TRAN
RETURN 0
GO

--- T2 -----
--DROP PROCEDURE GT_CAPNHATTHONGTINTUYENDUONG_T2
CREATE PROC GT_CAPNHATTHONGTINTUYENDUONG_T2
	@MaTuyenDuong nvarchar(512),
	@TeTuyenDuong nvarchar(512),
	@ChieuDai int
AS
BEGIN TRAN
	BEGIN TRY
		IF NOT EXISTS (SELECT * FROM TUYENDUONG WHERE MaTuyenDuong=@MaTuyenDuong)
		BEGIN 
			PRINT N'MA TUYEN DUONG KHONG DUNG'
			ROLLBACK TRAN
			RETURN
		END

		UPDATE TUYENDUONG 
		SET TeTuyenDuong=@TeTuyenDuong, ChieuDai = @ChieuDai
		WHERE MaTuyenDuong=@MaTuyenDuong
				
	END TRY	BEGIN CATCH		PRINT N'LỖI HỆ THỐNG'		ROLLBACK TRAN	END CATCH
COMMIT TRAN
RETURN 1
