USE [QuanLyLaiXe]
GO
------------------
--- T2 -----
--DROP PROCEDURE GT_FIX_XEMTHONGTIN_TO
CREATE PROC GT_FIX_XEMTHONGTIN_TO
	@MaTo INT
AS
BEGIN TRAN
	SET TRAN ISOLATION LEVEL READ UNCOMMITTED
	BEGIN TRY
		IF NOT EXISTS (SELECT * FROM TOLAI WHERE MaTo=@MaTo)
		BEGIN 
			PRINT N'MA TO KHONG DUNG'
			ROLLBACK TRAN
			RETURN
		END
		
		PRINT N'DA CHAY T2'
		
		SELECT t.MaTo,t.TenTo,t1.TenTaiXe,t.NgayNhanChuc,t2.TenTaiXe
		FROM ToLai t, TAIXE t1, TAIXE t2 
		WHERE t.MaTo=@MaTo and t.QuanLy=t2.MaTaiXe and t.ToTruong=t1.MaTaiXe
		
	END TRY
	BEGIN CATCH
		PRINT N'LỖI HỆ THỐNG'		ROLLBACK TRAN
	END CATCH
COMMIT TRAN
RETURN 1
