USE [QuanLyLaiXe]
GO
------------------------
----- T1: XEM DANH SACH TUYEN DUONG ------
----- T2: THEM THONG TIN TUYEN DUONG ------
------------------------

--- T1----
--DROP PROCEDURE GT_XEMDSTUYENDUONG
CREATE --ALTERPROC GT_XEMDSTUYENDUONG	@SLTD INT OUTASBEGIN TRAN	BEGIN TRY		SET @SLTD = (SELECT COUNT(MaTuyenDuong) FROM TUYENDUONG)		--ĐỂ TEST		WAITFOR DELAY '0:0:5'		SELECT TenTuyenDuong FROM TUYENDUONG	END TRY	BEGIN CATCH		PRINT N'LỖI HỆ THỐNG'		ROLLBACK TRAN	END CATCHCOMMIT TRANGO

--- T2 -----
--DROP PROCEDURE GT_THEMTUYENDUONG
CREATE PROC GT_THEMTUYENDUONG
	@MaTuyenDuong nvarchar(512),
	@TenTuyenDuong nvarchar(512),
	@ChieuDai int
AS
BEGIN TRAN
	BEGIN TRY
		IF EXISTS (SELECT * FROM TUYENDUONG WHERE MaTuyenDuong = @MaTuyenDuong)		BEGIN			PRINT @MaTuyenDuong + N' ĐÃ TỒN TẠI'			ROLLBACK TRAN			RETURN 1		END		--ĐỂ TEST		WAITFOR DELAY '0:0:05'
		INSERT TUYENDUONG VALUES(@MaTuyenDuong, @TenTuyenDuong, @ChieuDai)
	END TRY
	BEGIN CATCH
		PRINT N'LỖI HỆ THỐNG'		ROLLBACK TRAN
	END CATCH
COMMIT TRAN
RETURN 1
