USE [QuanLyLaiXe]
GO
------------------------
--- T1: CAP NHAT THONG TIN TO ------
--- T2: CAP NHAT THONG TIN TO ---
------------------------

--- T1----
--DROP PROCEDURE GT_CAPNHATTHONGTIN_TO
CREATE PROC GT_CAPNHATTHONGTIN_TO
	@MaTo INT,
	@NgayNhanChuc datetime
AS
BEGIN TRAN
	BEGIN TRY
		IF NOT EXISTS (SELECT * FROM TOLAI WHERE MaTo=@MaTo)
		BEGIN 
			PRINT N'MA TO KHONG DUNG'
			ROLLBACK TRAN
			RETURN
		END
		
		SELECT * FROM TOLAI
		
		--ĐỂ TEST		WAITFOR DELAY '0:0:10'
		
		UPDATE TOLAI 
		SET NgayNhanChuc=@NgayNhanChuc
		WHERE MaTo=@MaTo
				
	END TRY	BEGIN CATCH		PRINT N'LỖI HỆ THỐNG'		ROLLBACK TRAN	END CATCH
COMMIT TRAN
RETURN 0
GO

--- T2 -----
--DROP PROCEDURE GT_CAPNHATTHONGTIN_TO_T2
CREATE PROC GT_CAPNHATTHONGTIN_TO_T2
	@MaTo INT,
	@NgayNhanChuc datetime
AS
BEGIN TRAN
	BEGIN TRY
		IF NOT EXISTS (SELECT * FROM TOLAI WHERE MaTo=@MaTo)
		BEGIN 
			PRINT N'MA TO KHONG DUNG'
			ROLLBACK TRAN
			RETURN
		END
		
		PRINT N'DA CHAY T2'
		
		UPDATE TOLAI 
		SET NgayNhanChuc=@NgayNhanChuc
		WHERE MaTo=@MaTo
		
	END TRY
	BEGIN CATCH
		PRINT N'LỖI HỆ THỐNG'		ROLLBACK TRAN
	END CATCH
COMMIT TRAN
RETURN 1
